<html>
     <h2>Bet You Can't Bowl A Strike Every Time</h2>
     <head>
        <title>Bowling-Alley</title>
     </head>
     <body>
        <h1>Name</h1>
        <p>Alley-</p>
     <body>
        <h2>Bowling-Alley<h2>
        <h1>Buster's Best Bowling Alley</h1>
        <p>97 Bowling Alley Lane, Boulder CO </p>
        </body>
</html>